################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvaloniaTutorial/bin/Debug/net6.0
/AvaloniaTutorial/obj/Debug/net6.0
/AvaloniaTutorial/obj
